@font-face {
	font-family: Sofia-Pro;
	src: url(../assets/sofia_pro_regular.otf);
	font-weight: 400;
}

$blue: #527aff;
$orange: #f2994a;
$lightblue: #b1b1ff;

html {
	margin: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(to bottom right, $orange, $blue);
	font-family: 'Sofia-Pro';
	font-size: 16px;
	color: white;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	&.title {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	body {
		&.fullheight {
			height: calc(100% - 1em);
			margin: 0;
			padding-top: 1em;
		}

		opacity: 1;
		transition: 0.5s opacity;

		&.fade-out {
			opacity: 0;
			transition: 0.5s opacity;
		}
	}
}

.item {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	width: 20em;
}

.item-description {
	margin-left: 3em;
}

img {
	width: 3em;

	&.logo {
		width: 10em;
	}

	&.portrait {
		width: 8em;
	}
}

.nav-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.content {
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: calc(100% - 12em);
	width: 100%;
	margin: 0 auto;
	padding-top: 4em;
}

h1 {
	&.nav {
		margin: 0;
		margin-left: 1em;
		display: inline-block;
	}

	&.name {
		margin-bottom: 0;
	}
	font-size: 2em;
}

h2 {
	margin: 0;
	font-size: 1.5em;

	&.year {
		color: $lightblue;
	}
}

a {
	outline: none;
	text-decoration: none;
	cursor: pointer;
	color: $lightblue;
	transition: color 0.3s;

	&:hover {
		color: white;
		transition: color 0.3s;
	}

	&.nocolor {
		color: white;
	}
}
